{% extends 'base.html.twig' %}

{% block title %}Gestion des véhicules{% endblock %}

{% block body %}
    <style>
        .uk-table-hover tbody tr:hover {
            color: black;
        }
        .uk-table-hover tbody tr:hover .uk-button {
            color: black;
        }
        .thumbnail {
            max-width: 80px;
            height: auto;
        }
    </style>

    <div class="container mt-4">
        <h1>Gérer les véhicules</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <a href="{{ path('admin_voiture_new') }}" class="btn btn-primary mb-3">Ajouter un véhicule</a>
        <table class="uk-table uk-table-justify uk-table-hover uk-table-divider">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Voiture</th>
                    <th>Informations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for voiture in voitures %}
                <tr>
                    <td>{{ voiture.id }}</td>
                    <td>{{ voiture.modele.nomModele }} - {{ voiture.marque.nomMarque }}</td>
                    <td>{{ voiture.description }}</td>
                    <td>
                        <a href="{{ path('admin_voiture_edit', { id: voiture.id }) }}" class="btn">Modifier</a>
                        <a href="{{ path('admin_voiture_delete', { id: voiture.id }) }}" 
                           class="btn"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce véhicule ?')">Supprimer</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Aucun véhicule trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
