<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}Locavoiture{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        <!-- Bootstrap CSS
        <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css">
        
        <!-- UIKit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/css/uikit.min.css" />

        <!-- Custom CSS files -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('css/profils.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!-- HEADER -->
        <header>
        <nav uk-sticky>
            <div>
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active text-secondary{% else %}text-light{% endif %}" 
                    href="{{ path('app_home') }}"><img src="img/local/logo.png" alt="logo">
                </a>
            </div>
            <div style="align-items: center;">
                <nav>
                    <ul>
                        <li>
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active text-secondary{% else %}text-light{% endif %}" 
                                href="{{ path('app_home') }}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_catalogue' %}active text-secondary{% else %}text-light{% endif %}" 
                                href="{{ path('app_catalogue') }}">Catalogue</a>
                        </li>
                        <li>
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_inscription' %}active text-secondary{% else %}text-light{% endif %}" 
                                href="{{ path('app_inscription') }}">Inscription</a>
                        </li>
                        <form action="rechercher.php" method="POST" class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" name="critere" id="critere" required>
                            <input type="submit" value="Rechercher">
                        </form>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>
        
    <!-- MAIN CONTENT -->
    <div class="container my-5">
        {% block body %}
        <!-- Contenu de la page spécifique ici -->
        {% endblock %}
    </div>

    <!-- FOOTER -->
    <hr class="container">
    <footer>
        <div>
            <a href="#"> © 2024 - New Caledonia</a>
        </div>
        <div>
            <a href="#">Mentions légales</a>
        </div>
        <div>
            <a href="#">Politique de confidentialité</a>
        </div>
    </footer>

    </body>
</html>
