{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
    <h1 class="pb-4">Catalogue</h1>
    <section class="articles">
        {% set articles = [
            {'title': 'Titre 1', 'image': 'http://placehold.it/350x150', 'content': 'Description 1'},
            {'title': 'Titre 2', 'image': 'http://placehold.it/350x150', 'content': 'Description 2'},
            {'title': 'Titre 3', 'image': 'http://placehold.it/350x150', 'content': 'Description 3'},
            {'title': 'Titre 4', 'image': 'http://placehold.it/350x150', 'content': 'Description 4'},
            {'title': 'Titre 5', 'image': 'http://placehold.it/350x150', 'content': 'Description 5'},
            {'title': 'Titre 6', 'image': 'http://placehold.it/350x150', 'content': 'Description 6'},
            {'title': 'Titre 7', 'image': 'http://placehold.it/350x150', 'content': 'Description 7'},
            {'title': 'Titre 8', 'image': 'http://placehold.it/350x150', 'content': 'Description 8'}
        ] %}

        {% for i in 0..(articles|length - 1) %}
            {% if i % 4 == 0 %}
                <ul class="list-group list-group-horizontal pb-4">
            {% endif %}

            <li class="list-group-item">
                <article>
                    <h2>{{ articles[i].title }}</h2>
                    <div class="content">
                        <img src="{{ articles[i].image }}" alt="{{ articles[i].title }}">
                        <p>{{ articles[i].content }}</p>
                        <a href="{{ path('catalogue_show') }}" class="btn btn-primary">Lire la suite</a>
                    </div>
                </article>
            </li>

            {% if i % 4 == 3 or i == articles|length - 1 %}
                </ul>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
